.profile-wrapper {
    width: 180px;       
    height: 180px;
    border-radius: 50%;  
    overflow: hidden;
}
.profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}